services:
  auth-service:
    build: .
    container_name: irisa_auth_container
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/ingenio_risaralda
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped