services:
  # --- BACKEND (Cerebro) ---
  auth-service:
    build:
      context: ./irisa_2/irisa/authentication_irisa/irisa-authentication
      dockerfile: Dockerfile
    container_name: irisa_auth_backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASS}
      - JWT_SECRET_KEY=${JWT_SECRET}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASS=${ADMIN_PASS}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - irisa-network

  # --- FRONTEND (Cara) ---
  frontend:
    build:
      context: ./irisa_2/irisa/reports_irisa
      dockerfile: Dockerfile
    container_name: irisa_web_frontend
    ports:
      - "${VITE_PORT:-5173}:${VITE_PORT:-5173}"
    volumes:
      - ./irisa_2/irisa/reports_irisa:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=${API_URL}
    networks:
      - irisa-network
    depends_on:
      - auth-service

networks:
  irisa-network:
    driver: bridge